---
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import Content from "../components/Content.astro"
---

<Layout
  title="heim.code"
  description="Web con toda la información básica, lógica y teórica sobre los principales lenguajes de programación. El objetivo es que visites esta web cada vez que necesites recordar conceptos o etiquetas que no recuerdes. ¡Será tu web de confianza, dev!"
>
  <main>
    <Main />
    <Content />
  </main>
</Layout>

<style>
  main {
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
