---
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import Content from "../components/Content.astro"
---

<Layout
  title="heim.code"
  description="Web sobre toda la información basica logica y teorica sobre los principales lenguajes de programación, el objetivo es que visites esta web cada que necesites recordad conceptos o etiquetas que no recuerdes, sera tu web de confiaza dev!."
>
  <main>
    <Main />
    <Content />
  </main>
</Layout>

<style>
  main {
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
